table {
    border: 1px solid black;
}

    table th {
        border: 1px solid black;
    }

    table td {
        border: 1px solid black;
    }

    table thead tr th input {
        text-align: center;
    }

    .right {
        text-align: right;
    }
    
    .center {
        text-align: center;
    }
    
    
