#root {
  width: 720px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

#root {
  background-color: #777777;
}

.header {
  color: #CCCCCC;
  text-align: center;
  padding-top: 35px;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;
  font-weight: normal;
}

.description {
  margin: auto 30px auto 30px;
}

.description strong {
  color: #CCCCCC;
  font-weight: normal;
  text-shadow: 3px 3px 3px black;
}

ul {
  display: inline-block;
  margin-left: -20px;
  margin-top: 25px;
}

.remark {
  display: none;
}

.hero-item {
  list-style-type: none;
  display: inline-block;
  width: 330px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  vertical-align: top;
  height: 200px;
  margin-right: 7px;
}

.hero-item h2 {
  color: #CCCCCC;
  text-align: center;
  font-size: 20px;
  text-shadow: 3px 3px 3px black;
  font-weight: normal;
  margin-right: 20px; 
  float: right;
  text-decoration: underline;
  
} 

.hero-item img {
  width: 30px;
  height: 30px;
  float: right;
  border-radius: 50%;
  padding: 10px;
}

.hero-item p {
  display: block;
  margin-top: 58px;
  font-size: 20px;
}